 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$containerBorder: 1px solid grey;
$containerPadding: 8px;
$headerFontFamily:'Roboto Slab', serif;


header{
  font-size:38px;
  width:385px;
  float:left;
  margin-top:30px;
  margin-left:80px;
  font-family:$headerFontFamily;

}

.animate{
  width:10px;
  font-size:50px;
  display:inline-block;
  margin-top:29px;


    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.addNewBtn{
  float:right;
  margin-right: 333px;
  margin-top:75px;
}

.modal {
  background: white;

  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* Hidden */
  opacity: 0;
  pointer-events: none;
} 

.dialogIsOpen .published-container header{

  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);

}

.dialogIsOpen .modal {
  
  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;

}

.published-container, .modal {
  
  transition: all 0.4s ease; 

}

.title-container{
  @include span-columns(5);
  float:left;
  margin-top:50px;
  font-size:20px;
  padding:5px;
  border:$containerBorder
}

.author-container{
  @include span-columns(2);
  float:right;
  margin-top:50px;
  font-size:15px;
  padding:$containerPadding;
  padding-top:5px;
  border:$containerBorder;
  margin-right:0px;
  text-align:right;  

}

.create-post-container{
  @include span-columns(12);
  margin-top:20px;
  height:175px;
  float:left;
  padding:$containerPadding;
  border:$containerBorder;
}

.tag-container{
  @include span-columns(4);
  margin-top:20px;
  font-size:11px;
  float:left;
  padding:$containerPadding;
  border:$containerBorder;
}

*:focus {
    outline: none;
}

.submit{
  float:right;
  margin-top:60px;
  padding:15px;
  background-color:white;
  color:black;
  border:3px dotted #009999;
}

.published-container{
  @include span-columns(12);
  margin-top:30px;
  padding:$containerPadding;
  padding-top:15px;
  float:left;
  border-top:$containerBorder;
}


